// colors
$red: rgb(255, 37, 42);
$blue: #1F2B4A;
$white: rgb(255, 255, 255);
$lightgray: rgba(144, 144, 144, 0.15);
$gray: rgba(0, 0, 0, 0.6);
$black: rgb(0, 0, 0);
// sizes
$fontsize: 16px;

// typography
$base-font: 'Open Sans', sans-serif;